@import "styles.less";
@import "search.less";

header, main {
  width: 100%;
 // background: @back;
}
header {
  height: 60px;
}
main {
  height: 720px;
  border-top: 1px solid #43424a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}