.empty {
  width: 450px;
  height: 550px;
  background: blue;
}
.search {
  background: red;
  width: 450px;
  height: 550px;
}
.search .searchBar {
  background: green;
  display: flex;
  justify-content: center;
}
.search .searchBar::before {
  content: url("../img/Shape.png");
  width: 26px;
  height: 27px;
  margin: 5px;
  position: relative;
  top: 55px;
  left: 37px;
}
.search .searchBar input {
  background-color: #1d1e22;
  border: none;
  border-bottom: 1px solid #43424a;
  color: white;
  outline: none;
  height: 46px;
  width: 45%;
  margin-top: 50px;
  font-size: 1.5em;
  padding-left: 40px;
}
